[submodule "services/albatross-php-2024"]
	path = services/albatross-php-2024
	url = https://github.com/nsfisis/phperkaigi-2024-albatross-archive.git
[submodule "vhosts/t/albatross-swift"]
	path = vhosts/t/albatross-swift
	url = git@github.com:nsfisis/iosdc-japan-2024-albatross.git
[submodule "vhosts/t/albatross-php-2025"]
	path = vhosts/t/albatross-php-2025
	url = git@github.com:nsfisis/phperkaigi-2025-albatross.git
[submodule "vhosts/t/albatross-swift-2025"]
	path = vhosts/t/albatross-swift-2025
	url = git@github.com:nsfisis/iosdc-japan-2025-albatross.git
[submodule "services/albatross-php-2026"]
	path = services/albatross-php-2026
	url = https://github.com/nsfisis/phperkaigi-2026-albatross.git
